In [ ]:
#SQL NEW DATABASE CREATION

In [1]:
import mysql.connector

import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "2LwupNhEckogWnm.root",
  password = "oHH2C3xTDDLFymia",
 
)
mycursor = connection.cursor(buffered=True)     
cursor = connection.cursor()

# Create the database
cursor.execute("CREATE DATABASE IF NOT EXISTS project2_Top_Final_stock")
print("Database 'project2_Top_Final_stock' created successfully.")

cursor.close()
connection.close()

Database 'project2_Top_Final_stock' created successfully.

In [ ]:

import pandas as pd
import mysql.connector



connection = mysql.connector.connect(
    host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
    port=4000,
    user="2LwupNhEckogWnm.root",
    password="oHH2C3xTDDLFymia",
    database="project2_Top_Final_stock"
)

cursor = connection.cursor()

# Create table (if not exists)
cursor.execute("""
CREATE TABLE IF NOT EXISTS volatility_top (
    id INT AUTO_INCREMENT PRIMARY KEY,
    ticker VARCHAR(10),
    volatility DECIMAL(10, 4)
);
""")


 #Load the CSV file
df = pd.read_csv('volatility1.csv') 

# Insert rows
for _, row in df.iterrows():
    cursor.execute("""
        INSERT INTO volatility (Ticker, volatility)
        VALUES (%s, %s)
    """, (row['Ticker'], row['volatility']))

# Commit and close
connection.commit()

cursor.close()
connection.close()

print("Data inserted successfully into MySQL.")

In [2]:
import pandas as pd
import mysql.connector

# MySQL connection
connection = mysql.connector.connect(
    host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
    port=4000,
    user="2LwupNhEckogWnm.root",
    password="oHH2C3xTDDLFymia",
    database="project2_Top_Final_stock"
)

cursor = connection.cursor()

# Create table if not exists
cursor.execute("""
    CREATE TABLE IF NOT EXISTS volatility_top (
        id INT AUTO_INCREMENT PRIMARY KEY,
        ticker VARCHAR(10),
        volatility DECIMAL(10, 4)
    );
""")

# Load and process CSV data
df = pd.read_csv('volatility1.csv')

# Sort and get top 10 most volatile stocks
top_10 = df.sort_values(by='volatility', ascending=False).head(10)

# Insert top 10 records into the table
for _, row in top_10.iterrows():
    cursor.execute("""
        INSERT INTO volatility_top (ticker, volatility)
        VALUES (%s, %s)
    """, (row['Ticker'], row['volatility']))

# Commit and close
connection.commit()
cursor.close()
connection.close()

print("Top 10 most volatile stocks inserted successfully into MySQL.")

Top 10 most volatile stocks inserted successfully into MySQL.

In [7]:
import mysql.connector
import pandas as pd

# Connect to TiDB
connection = mysql.connector.connect(
    host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
    port=4000,
    user="2LwupNhEckogWnm.root",
    password="oHH2C3xTDDLFymia",
    database="project2_Top_Final_stock"
)

cursor = connection.cursor()

# Create the table (matching insert target)
create_table_query = """
CREATE TABLE IF NOT EXISTS sector_performance (
    ticker VARCHAR(20),
    sector VARCHAR(100),
    avg_yearly_return FLOAT
)
"""
cursor.execute(create_table_query)
connection.commit()

print("Table created or verified successfully.")

# Load your CSV
df = pd.read_csv(r'C:\Users\LENOVO\Desktop\Newfolder\project2\output\sector_avg_returns.csv')

# Insert each row
insert_query = """
INSERT INTO sector_performance (ticker, sector, avg_yearly_return)
VALUES (%s, %s, %s)
"""

for i, row in df.iterrows():
    cursor.execute(insert_query, (row['Ticker'], row['Sector'], row['Avg_Yearly_Return']))

connection.commit()

print("Data inserted successfully.")

cursor.close()
connection.close()

Table created or verified successfully.
Data inserted successfully.

In [8]:
import mysql.connector
import pandas as pd

# Connect to TiDB
connection = mysql.connector.connect(
    host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
    port=4000,
    user="2LwupNhEckogWnm.root",
    password="oHH2C3xTDDLFymia",
    database="project2_Top_Final_stock"
)

cursor = connection.cursor()


# Create table
create_table_query = """
CREATE TABLE IF NOT EXISTS stock_price_correlation (
    ticker VARCHAR(20),
    ticker2 VARCHAR(20),
    correlation FLOAT
);
"""
cursor.execute(create_table_query)
connection.commit()

# Load CSV
df_corr = pd.read_csv(r'C:\Users\LENOVO\Desktop\Newfolder\project2\output\correlation_melted.csv')

# Insert rows
insert_query = """
INSERT INTO stock_price_correlation (ticker, ticker2, correlation)
VALUES (%s, %s, %s)
"""

for i, row in df_corr.iterrows():
    cursor.execute(insert_query, (row['Ticker'], row['Ticker2'], row['Correlation']))

connection.commit()
print("Correlation data inserted successfully.")

# Close connection
cursor.close()
connection.close()

Correlation data inserted successfully.

In [9]:
import mysql.connector
import pandas as pd
from datetime import datetime

# Connect to the database
connection = mysql.connector.connect(
    host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
    port=4000,
    user="2LwupNhEckogWnm.root",
    password="oHH2C3xTDDLFymia",
    database="project2_Top_Final_stock"
)

cursor = connection.cursor()




# Create table
create_table_query = """
CREATE TABLE IF NOT EXISTS monthly_gainers_losers (
    month_year DATE,
    ticker VARCHAR(20),
    daily_return FLOAT
);
"""

cursor.execute(create_table_query)
connection.commit()

print("Table 'monthly_gainers_losers' created successfully.")

#cursor.close()
#connection.close()

# Load the CSV file
df = pd.read_csv(r'C:\Users\LENOVO\Desktop\Newfolder\project2\output\monthly_retn.csv')

# Insert query
insert_query = """
INSERT INTO monthly_gainers_losers (month_year, ticker, daily_return)
VALUES (%s, %s, %s)
"""

# Insert rows into the table
for _, row in df.iterrows():
    try:
        # Convert 'MonthYear' string like "Apr-2024" to date format (e.g., 2024-04-01)
        month_date = datetime.strptime(row['MonthYear'], '%b-%Y').date().replace(day=1)
        cursor.execute(insert_query, (month_date, row['Ticker'], row['Daily_Return']))
    except Exception as e:
        print(f" Error inserting row: {row.to_dict()} → {e}")

connection.commit()
print(" Data inserted into 'monthly_gainers_losers' table successfully.")

cursor.close()
connection.close()

Table 'monthly_gainers_losers' created successfully.
 Data inserted into 'monthly_gainers_losers' table successfully.

In [ ]:
import mysql.connector
import pandas as pd
import numpy as np

# Connect to MySQL (TiDB)
connection = mysql.connector.connect(
    host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
    port=4000,
    user="2LwupNhEckogWnm.root",
    password="oHH2C3xTDDLFymia",
    database="project2_Top_Final_stock"
)
cursor = connection.cursor()

# Create table if it doesn't exist
create_table_query = """
CREATE TABLE IF NOT EXISTS cumm_top5 (
    Ticker VARCHAR(50),
    close FLOAT,
    date DATE,
    high FLOAT,
    low FLOAT,
    month VARCHAR(20),
    open FLOAT,
    volume BIGINT,
    prev_close FLOAT,
    daily_return FLOAT,
    cumulative_return FLOAT
)
"""  
cursor.execute(create_table_query)
print(" Table 'cumm_top5' created or already exists.")

# Load CSV
df = pd.read_csv('cumulative_returnsdetails1.csv')

# Data cleanup
df['date'] = pd.to_datetime(df['date']).dt.date
df['prev_close'] = df.groupby('Ticker')['close'].shift(1)
df['daily_return'] = (df['close'] - df['prev_close']) / df['prev_close']

def calculate_cumulative_return(x):
    return (1 + x).cumprod() - 1

df['cumulative_return'] = df.groupby('Ticker')['daily_return'].transform(calculate_cumulative_return)

# Convert columns to numeric
cols_to_convert = ['close', 'high', 'low', 'open', 'volume', 'prev_close', 'daily_return', 'cumulative_return']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# Replace null-like values with None
df.replace(["nan", "NaN", np.nan, pd.NaT, pd.NA], None, inplace=True)
df = df.where(pd.notna(df), None)

# Debugging info (optional)
print("\n Data Preview:")
print(df.head(10))
print("\n🔍 Missing Values Count:")
print(df.isnull().sum())

# Prepare data for insertion
data_to_insert = [
    (
        row['Ticker'],
        row['close'],
        row['date'],
        row['high'],
        row['low'],
        row['month'],
        row['open'],
        row['volume'],
        row['prev_close'],
        row['daily_return'],
        row['cumulative_return']
    )
    for _, row in df.iterrows()
]

# Insert block
insert_query = """
INSERT INTO cumm_top5 (
    Ticker, close, date, high, low, month, open, volume,
    prev_close, daily_return, cumulative_return
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

try:
    cursor.executemany(insert_query, data_to_insert)
    connection.commit()
    print(" Data inserted successfully into 'cumm_top5'.")
except Exception as e:
    print(" Error during data insertion:", e)

# Close connection
cursor.close()
connection.close()
print("🔒 MySQL connection closed.")

✅ Table 'cumm_top5' created or already exists.

📊 Data Preview:
       Ticker    close        date     high      low    month     open  \
0  BAJAJ-AUTO  5016.45  2023-10-03  5073.00  4997.10  2023-10  5065.00
1  BAJAJ-AUTO  4918.60  2023-10-04  5019.20  4903.05  2023-10  5011.25
2  BAJAJ-AUTO  5011.05  2023-10-05  5039.30  4925.10  2023-10  4935.00
3  BAJAJ-AUTO  5014.60  2023-10-06  5120.00  4997.50  2023-10  5120.00
4  BAJAJ-AUTO  5007.30  2023-10-09  5068.70  4957.05  2023-10  4957.05
5  BAJAJ-AUTO  5037.50  2023-10-10  5064.00  5002.20  2023-10  5007.30
6  BAJAJ-AUTO  5064.40  2023-10-11  5095.00  5050.00  2023-10  5055.00
7  BAJAJ-AUTO  5106.60  2023-10-12  5151.00  5051.10  2023-10  5085.00
8  BAJAJ-AUTO  5052.40  2023-10-13  5123.45  5040.00  2023-10  5089.95
9  BAJAJ-AUTO  5076.70  2023-10-16  5099.40  5032.00  2023-10  5035.00

   volume prev_close daily_return cumulative_return
0  464531       None         None              None
1  256544    5016.45    -0.019506         -0.019506
2  657876     4918.6     0.018796         -0.001076
3  279352    5011.05     0.000708         -0.000369
4  244083     5014.6    -0.001456         -0.001824
5  307502     5007.3     0.006031          0.004196
6  575680     5037.5      0.00534          0.009559
7  472168     5064.4     0.008333          0.017971
8  387366     5106.6    -0.010614          0.007166
9  158560     5052.4      0.00481           0.01201

🔍 Missing Values Count:
Ticker               0
close                0
date                 0
high                 0
low                  0
month                0
open                 0
volume               0
prev_close           5
daily_return         5
cumulative_return    5
dtype: int64
✅ Data inserted successfully into 'cumm_top5'.
🔒 MySQL connection closed.